{% extends 'ejemplo/base.html' %}
{%block titulo%}
Lista de familiares
Buscar familiares
{%endblock%}

{% block contenido %}
<form action="/mi-familia/buscar" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

  {% for familiar in lista_familiares %}
    <ul>
        <li> Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Pasaporte: {{familiar.numero_pasaporte}}, Nacimiento: {{familiar.fecha_nacimiento}} </li>
    </ul>
  {% endfor %}
{% endblock %}
