{% extends 'ejemplo/base.html' %}

{% block contenido %}
{% for familiar in lista_familiares %}
<ul>
    <li>
        Id: {{familiar.id}} Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Pasaporte: {{familiar.numero_pasaporte}}, Nacimiento: {{familiar.fecha_nacimiento}}
        <a href='actualizar/{{ familiar.id }}'>Actualizar</a>
        <a href='actualizar/{{ familiar.id }}'>Borrar</a>
    </li>
</ul>
{% endfor %}
{%endblock %}

{% block titulo%}
Lista de todos mis Familiares
{% endblock %}